.contenedorPrincipal {
  position: relative;
  margin-left: 250px;
  z-index: -100;
}

.espacioTotal {
  display: flex;
  position: absolute;
  justify-content: center;
  width: calc(100% - 250px);
  width: 100%;
  height: 100%;
}

.Tablas {
  display: flex;
  flex-direction: column; /* Establece la dirección del eje principal como columna */
  align-items: center;
  width: 90%;
}

.containerTable {
  margin-top: 20px;
  width: 100%;
}

table {
  width: 100%; /* Ajustar el ancho de la tabla al 100% */
  border-collapse: collapse;
}
